*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Diseño{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

/*////////////////////////////*/
.Envio{
    margin: 10px;
    nav-down: center;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.925);
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}


/*estilo del boton*/

button {
    padding: 0px 15px;
 border: unset;
 color: #fff;
 z-index: 1;
 background: #0A0A85;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 background-color: #EA0B2A;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #000;
}

button:hover::before {
 width: 100%;
}